
/* Your CSS Code here. */

*{
	padding:0px;
	margin:0px
}

section{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.holder{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}

 #green {
	width:100px;
	height:100px;
	background-color:green;
}
 #red {
	width:100px;
	height:100px;
	background-color:red;
}
 #blue {
	width:100px;
	height:100px;
	background-color:blue;
}